---
# Create a password for the LDAP server. This does not need to correspond
# to anything on Okta, it can be any username/password pair you want.

admin:
    username: uid=admin,ou=system
    password: PASSWORD

ldap:
    port: 1389
    ## If you want TLS, uncomment those two lines.
    # cert: ldap-server.crt
    # key: ldap-server.key

okta:
    # URL for Okta API
    url: https://DOMAIN.okta.com
    token: SECRET-OKTA-API-TOKEN

    userDN: uid={{{shortName}}},ou=users,dc=DOMAIN,dc=com
    groupDN: cn={{{profile.name}}},ou=groups,dc=DOMAIN,dc=com

    # How often to reload directory from Okta, in seconds.
    # Default to 3600 (1 hour). If negative, reloads are disabled.
    # reload_secs: 3600

